/* =============================
				Style bg
============================= */
.bg {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* =============================
			Style animate
============================= */
.animate-block {
  visibility: visible;
  opacity: 1;
  transform: translateY(0) scale(1);
  position: relative;
  transition-timing-function: ease-out;
  transition-property: visibility, opacity, transform;
  transition-duration: 0.7s;

  &--before {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);

    &.animate-block--to-left {
      transform: translateX(25px);
    }

    &.animate-block--to-right {
      transform: translateX(-25px);
    }

    &.animate-block--opacity {
      transform: translateY(0);
    }

    &.animate-block--scale {
      transform: scale(0.6) translateY(0);
    }

    &.animate-block--rotate-Y {
      transform: translateY(-50%) rotateY(-90deg);
    }
  }

  &--delay-200 {
    transition-delay: 0.2s;

    @media only screen and (max-width: 600px) {
      &:not(.first-screen__subtitle) {
        transition-delay: 0s;
      }
    }
  }

  &--delay-400 {
    transition-delay: 0.4s;

    @media only screen and (max-width: 600px) {
      &:not(.first-screen__btn) {
        transition-delay: 0s;
      }
    }
  }

  &--delay-600 {
    transition-delay: 0.6s;

    @media only screen and (max-width: 600px) {
      transition-delay: 0s;
    }
  }

  &--delay-800 {
    transition-delay: 0.6s;

    @media only screen and (max-width: 600px) {
      transition-delay: 0s;
    }
  }
}

/* =============================
	Style error btn form
============================= */

.highlight {
  input.disabled {
    border-color: red;
  }

  button.error-shake {
    animation: btn_error_shake 0.4s 1 linear;
  }
}
